# Node
node_modules/
setup.txt

# Build artifacts
dist/
build/


.env
# Docker
*.log
*.tmp
docker-compose.yml


# GCP service account key (sensitive)
key.json
*.txt

*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

tfstate.backup.json
# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json


setup.txt

.vscode/

