trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  PROJECT_ID: 'todo-project-123'
  REGION: 'asia-south1'
  REPO_NAME: 'todo-repo'
  CLUSTER_NAME: 'todo-cluster'
  CLUSTER_ZONE: 'asia-south1-a'

stages:
- stage: Build
  displayName: Build and Push Images
  jobs:
  - job: DockerBuild
    displayName: Build and Push to GAR
    steps:
    - task: Bash@3
      displayName: 'Authenticate with GCP'
      inputs:
        targetType: 'inline'
        script: |
          echo "$GCLOUD_SERVICE_KEY" > key.json
          gcloud auth activate-service-account --key-file=key.json
          gcloud auth configure-docker $REGION-docker.pkg.dev -q

    - task: Bash@3
      displayName: 'Build Docker Images'
      inputs:
        targetType: 'inline'
        script: |
          docker build -t frontend:$(Build.BuildId) ./frontend
          docker build -t backend:$(Build.BuildId) ./backend

    - task: Bash@3
      displayName: 'Push to GAR'
      inputs:
        targetType: 'inline'
        script: |
          docker tag frontend:$(Build.BuildId) $REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/frontend:$(Build.BuildId)
          docker tag backend:$(Build.BuildId) $REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/backend:$(Build.BuildId)
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/frontend:$(Build.BuildId)
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/backend:$(Build.BuildId)

- stage: Deploy
  dependsOn: Build
  displayName: Deploy to GKE
  jobs:
  - job: DeployJob
    steps:
    - task: Bash@3
      displayName: 'Authenticate & Deploy'
      inputs:
        targetType: 'inline'
        script: |
          echo "$GCLOUD_SERVICE_KEY" > key.json
          gcloud auth activate-service-account --key-file=key.json
          gcloud container clusters get-credentials $CLUSTER_NAME --zone $CLUSTER_ZONE --project $PROJECT_ID
          kubectl apply -f k8s/
