apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - name: http
      port: 80          # <-- change from 5000 to 80
      targetPort: 3000
